
    <tr>
      <td>#</td>
      <td><%= link_to(group1.title, group_path(group1)) %></td>
      <td><%= render_group_description(group1) %></td>
      <td><%= group1.user.email %></td>
      <td>
          <% if current_user && current_user == group1.user %>
          <%= link_to("Edit", edit_group_path(group1), class: "btn btn-sm btn-default")%>
          <%= link_to("Delete", group_path(group1),    class: "btn btn-sm btn-default",
                      method: :delete, data: { confirm: "Are you sure?" } )%>
          <% end %>
      </td>
    </tr>
<!-- 上述(group1)中group1都为引用参数 -->
